<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ankiety{% endblock %}</title> 

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block header %}
        <header>
            <h1>Ankiety</h1>

            <ul>
                {% block navigation %}
                {% endblock %}
            </ul>
        </header>
        {% endblock %}

        {% block content %}
        {% endblock %}
    </body>
</html>
