{% extends 'base.html.twig' %}

{% block navigation %}
    <li><a href="{{ path('homepage') }}">Strona główna</a></li>
    <li><a href="{{ path('signin') }}">Zaloguj się</a></li>
    <li><a href="{{ path('signup') }}">Zarejestruj się</a></li>
{% endblock %}

{% block content %}
    <h2>Zaloguj się</h2>

    <form action="{{ path('homepage', {'user': true}) }}" method="post">
        <label for="username">Nazwa użytkownika:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Zaloguj się</button>
    </form>
{% endblock %}