body {
    background-color: rgb(165, 215, 235);
}
fieldset.mb-3 {
    border: none !important;
    padding: 0;
    margin: 0;
}
.btn-danger{
    background-color: red;
    border: none;
    color: white;
}
.input-group-text{
    display: flex;
    flex-direction: row;
}

table > tbody > tr:hover {
    background-color: blueviolet;
}

.table-active {
    background-color: blueviolet;
}

.no-edit{
    input, textarea {
        background-color: #e9ecef;
        pointer-events: none;
    }
}